@model quoting_dojoCsharp.Models.Quote
<h1 class="text-center">Welcome to Quoting Dojo!</h1>
<br>
<form action='quotes' method='post'>
    <div class="form-group row col-7 mx-auto">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <span style="color: red;" asp-validation-for="Name"></span>
            <input type="text" class="form-control" asp-for="Name">
        </div>
    </div>
    <div class="form-group row col-7 mx-auto">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Quote:</label>
        <div class="col-sm-10">
            <span style="color: red;" asp-validation-for="Content"></span>
            <textarea type="text" class="form-control" asp-for="Content" placeholder="Quote" rows="4"
                ></textarea>
        </div>
    </div>
    <p class="text-center"><input class="btn btn-primary" type="submit" value="Submit"> <a href="quotes" class="btn btn-primary">See Quotes</a></p>
</form>