@{
<h1 class="text-center">All the amazing quotes!</h1>
    @foreach (var quote in ViewBag.Quotes)
    {
        <h3>@quote["Content"]</h3>
        <p>@quote["Name"] at @quote["created_at"]</p>
    }
}